name: bindings_compatible
description: Provides compatible bindings instance across different Flutter version.
version: 1.0.0
homepage: https://github.com/fluttercandies/flutter_bindings_compatible

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^1.0.0
